.day-card{
    width: 100%;
    border: none;
}

.day-card-title{
    margin-left: -10px;
}

.day-total-nutrients{
    display: inline;
}

/* if a users total nutrients is >= their goals  */
.enough{
    color: green;
}
/* if a users total nutrients is < their goals  */
.not-enough{
    color: red;
}